.bn632-hover {
			  width: 120px;
			  font-size: 20px;
			  font-weight: 200;
			  color: #fff;
			  cursor: pointer;
			  margin: 20px;
			  height: 35px;
			  text-align:center;
			  border: none;
			  background-size: 200% 100%;
			  border-radius: 40px;
			  moz-transition: all .4s ease-in-out;
			  -o-transition: all .4s ease-in-out;
			  -webkit-transition: all .4s ease-in-out;
			  transition: all .4s ease-in-out;
			}
			
			.bn632-hover:hover {
			  background-position: 10% 0;
			  moz-transition: all .4s ease-in-out;
			  -o-transition: all .4s ease-in-out;
			  -webkit-transition: all .4s ease-in-out;
			  transition: all .4s ease-in-out;
			}
			
			.bn632-hover:focus {
			  outline: none;
			}
			
			.bn632-hover.bn27 {
			  background-image: linear-gradient(
			    to right,
			    #ed6ea0,
			    #ec8c69,
			    #f7186a,
			    #fbb03b
			  );
			  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
			}
			.neon {
			    color: #cce7f8;
			    font-size: 0.5rem;
			}
			@-webkit-keyframes shining {
			    from {
			        text-shadow: 0 0 10px lightblue, 0 0 20px lightblue, 0 0 30px lightblue, 0 0 40px skyblue, 0 0 50px skyblue, 0 0 60px skyblue;
			    }
			
			    to {
			        text-shadow: 0 0 5px lightblue, 0 0 10px lightblue, 0 0 15px lightblue, 0 0 20px skyblue, 0 0 25px skyblue, 0 0 30px skyblue;
			    }
			}
			.divtext{
				 position: absolute;
				  bottom: 0;
				  right: 0;
			}
			@media only screen and (max-width: 600px) {
				.divtext{
					transform: scale(0.4);
				}
			}